<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-book-reader'></i>
            <span class="logo_name">VKBook</span>
        </div>
        <ul class="nav-links">
            <li id="Thongke_menu">
                <a href="./admin.html">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Thống kê</span>
                </a>
            </li>
            <li id="danhmuc_menu">
                <div class="icon-link">
                    <a href="./admin_danhmuc.html">
                        <i class='bx bx-collection'></i>
                        <span class="link_name">Danh mục</span>
                    </a>
                </div>
            </li>
            <li id="sanpham_menu">
                <div class="icon-link">
                    <a href="./admin_sanpham.html">
                        <i class='bx bx-package'></i>
                        <span class="link_name">Sản phẩm</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="icon-link">
                    <a href="./admin_donhang.html">
                        <i class='bx bx-receipt'></i>
                        <span class="link_name">Đơn hàng</span>
                    </a>
                </div>
            </li>
            <li id="user_menu">
                <div class="icon-link">
                    <a href="./admin_user.html">
                        <i class='bx bx-user'></i>
                        <span class="link_name">Người dùng</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-user-plus'></i>
                    <span class="link_name">Quyền</span>
                </a>
            </li>

            <div class="profile-details">
                <div class="profile-content">
                    <img src="../../css/img/admin.jpg" alt="">
                </div>
                <div class="name-job">
                    <div class="profile_name">Messi</div>
                    <div class="job">Admin</div>
                </div>
                <div class="logout-button"><i class='bx bx-log-out'></i></div>
            </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <a class="text" href="admin.html">VKBook Admin</a>
        </div>
        <div class="content">
            <div class="card">
                <div id="card-header">
                    <h4 class="card-title">Danh sách người dùng</h4>
                    <a href="./admin_user_add.html" class="btn btn-primary">Thêm người dùng</a>
                </div>
                <div id="card-body">
                    <div>
                        <table class="table table-bordered">
                            <thead class="text-primary bg-transparent">
                                <tr>
                                    <th class="text-center">STT</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody id="account_main">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script>
        window.onload = getAllAccount();
    </script>
</body>
</html>
