<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    <div id="main">
        <div id="header">
            <div class="logo">
                <a href="index.html">
                    <img src="../css/img/logoBookStore.png" alt="Logo BookStore">
                </a>
            </div>

        </div>

        <div id="content">
            <div class="container wrapper">
                <div class="row cart-head">
                    <div class="container">
                        <div class="row">
                            <div>
                                <h1>XÁC NHẬN VÀ THANH TOÁN</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-body">
                    <form class="form-horizontal" method="post" action="">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <strong>ĐƠN HÀNG</strong>
                                    <div class="pull-right"><small><a class="afix-1" href="#"></a></small></div>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <h4><strong>Chi tiết đơn hàng</strong></h4>
                                        </div>
                                    </div>
                                    <div id="panel_cart_items">

                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <strong>Tổng hóa đơn</strong>
                                            <div class="pull-right" id="total-price-cart"><span></span><span>VNĐ</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                            <div class="panel panel-info">
                                <div class="panel-heading"><strong>ĐỊA CHỈ KHÁCH HÀNG</strong></div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <h4><strong>Địa chỉ giao hàng</strong></h4>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            Họ:<input type="text" name="first_name" class="form-control" value="" id="nameUser" />
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">Địa chỉ:</div>
                                        <div class="col-md-12">
                                            <input type="text" name="address" class="form-control" value="" id="addressUser" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">Thành Phố / Tỉnh:</div>
                                        <div class="col-md-12">
                                            <input type="text" name="city" class="form-control" value="" id="countryUser" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">Quốc gia:</div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" name="country" value="" id="nationalUser" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">Số điện thoại:</div>
                                        <div class="col-md-12">
                                            <input type="text" name="state" class="form-control" value="" id="phoneNumberUser" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">Email:</div>
                                        <div class="col-md-12">
                                            <input type="text" name="zip_code" class="form-control" value="" id="emailUser" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">Hình thức thanh toán:</div>
                                        <div class="col-md-12">
                                            <select>
                                                <option>Tiền mặt</option>
                                                <option>Thẻ ngân hàng</option>
                                                <option>Visa</option>
                                                <option>Paypal</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">Ghi chú giao hàng:</div>
                                        <div class="col-md-12"><input type="text" name="email_address" class="form-control" value="" id="descriptionOrder" /></div>
                                    </div>
                                    <div class="form-group-footer">
                                        <a href="index.html" class="btn btn-back">QUAY LẠI</a>
                                        <a href="#myModal3" class="btn btn-pay" data-toggle="modal" onclick="paymentCart()">ĐẶT HÀNG</a>
                                    </div>
                                    <div id="myModal3" class="modal fade">
                                        <div class="modal-dialog modal-confirm">
                                            <div class="modal-content">
                                                <div class="modal-header2">
                                                    <div class="icon-box">
                                                        <i class="fas fa-check-circle"></i>
                                                    </div>
                                                    <h4 class="modal-title">ĐẶT HÀNG THÀNH CÔNG !</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="text-center">
                                                        Cám ơn vì đã lựa chọn chúng tôi.
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- --------Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row1">
                    <div class="footer-col">
                        <h4>CÔNG TY</h4>
                        <ul>
                            <li><a href="#">Giới thiệu công ty</a></li>
                            <li><a href="#">Tuyển dụng</a></li>
                            <li><a href="#">Góc báo chí</a></li>
                            <li><a href="#">Chương trình đại lý</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Ứng dụng đọc Ebook</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>TRỢ GIÚP</h4>
                        <ul>
                            <li><a href="#">Quy định sử dụng</a></li>
                            <li><a href="#">Hướng dẫn mua hàng</a></li>
                            <li><a href="#">Phương thức thanh toán</a></li>
                            <li><a href="#">Phương thức vận chuyển</a></li>
                            <li><a href="#">Các câu hỏi thường gặp</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>TIN TỨC SÁCH</h4>
                        <ul>
                            <li><a href="#">Tin tức</a></li>
                            <li><a href="#">Chân dung</a></li>
                            <li><a href="#">Điểm sách</a></li>
                            <li><a href="#">Phê bình</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>THEO DÕI CHÚNG TÔI</h4>
                        <ul class="social_link">
                            <li>
                                <a href="https://www.facebook.com/vkbookstore/?ref=page_internal" target="_blank">
                                    <i class="fab fa-facebook"></i> : VKBook
                                </a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i> : @VKBook</a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i> : VK_Book</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        window.onload = loadCartInfor();
    </script>
</body>
</html>
